fabric
invoke
jinja2
PyNaCl
fastapi
PyMySQL
urllib3
uvicorn
pydantic
pyroute2
requests
tenacity
SQLAlchemy
python-jose
bcrypt==4.1.3
systemd-python
wireguard-tools
sqlmodel==0.0.19
google-cloud-compute
cryptography==44.0.0
google-cloud-secret-manager
cloud-sql-python-connector[pymysql]
