#!/usr/bin/env bash
# Instantiates a tunnel server from a bare Debian 12 image

# TODO: remove this once done with active development
set -x

apt install -y wireguard wireguard-tools fail2ban #apparmor
